<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.akisame_lin.love_air2">
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:name="org.litepal.LitePalApplication"
        android:icon="@mipmap/ic_a"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mP2h2GApuPzfuqw0tLKp78cw3QlRHrsh" />
        <activity android:name=".WelcomeActivity"
            android:label="爱呼吸">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".MainActivity"/>
        <activity android:name=".WeiboActivity"/>
        <activity android:name=".NewsActivity"/>
        <activity android:name=".NewsDisplayActivity"/>
        <activity android:name="com.example.akisame_lin.love_air2.weather.WeatherActivity"/>
        <activity android:name="com.example.akisame_lin.love_air2.weather.MainActivity"/>
        <activity android:name=".MainActivityb"/>


        <activity android:name=".AddWeiboInformationActivity"/>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/i8_Activity_Transparent" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/i8_Activity_Transparent" />


    </application>

</manifest>